#runAnalysis.aliases.isMTAU: (n_muons == 1 && n_electrons == 0)
#runAnalysis.aliases.isETAU: (n_muons == 0 && n_electrons == 1)
runAnalysis.aliases.fitsChannel: "( $(isMTAU) ? (n_muons == 1 && n_electrons == 0) : (n_muons == 0 && n_electrons == 1) )"

runAnalysis.aliases.isSLT: 1.
runAnalysis.aliases.isTLT: 0.

runAnalysis.aliases.dPhiTauMET: abs(TVector2::Phi_mpi_pi(tau_0_phi - met_reco_phi))
runAnalysis.aliases.dPhiLepMET: abs(TVector2::Phi_mpi_pi(lep_0_phi - met_reco_phi))
runAnalysis.aliases.dPhiTauLep: abs(TVector2::Phi_mpi_pi(lep_0_phi - tau_0_phi))
runAnalysis.aliases.dEtaTauLep: abs(tau_0_eta - lep_0_eta)

runAnalysis.aliases.dMET: (met_reco_et - met_truth_et)
runAnalysis.aliases.sigma: ( 1.875+8.914*log( sqrt(met_reco_sumet) + 8.53 ) )
runAnalysis.aliases.sqrtSET: sqrt(met_reco_sumet)

runAnalysis.aliases.ratioPt: lep_0_pt/tau_0_pt
runAnalysis.aliases.dalpha:  ( 0.5*((125*125-tau_0_m*tau_0_m)/(tau_0_pt* TMath::CosH(tau_0_eta)*lep_0_pt* TMath::CosH(lep_0_eta)))-lep_0_pt/tau_0_pt )
runAnalysis.aliases.totmomtrans: ( tau_0_pt + lep_0_pt + met_reco_et ) 