InputVersion                   Bigjob
Analysis                       Htautau
Years                          2015

DefaultFitConfig               false
OverlayNominalForSystShapes    true
StatThreshold                  0.05
LogScalePlots                  true
UsePseudoData                  false
DecorrPOI                      
MassPoint                      125
DecorrTypes                    0
Combination                    false
LumiForAll                     false
SmoothingControlPlots          false
UseSystematics                 true
DoInjection                    0
UseFloatNorms                  true
Debug                          true
OneBin                         false
DecorrSys                      None
DoShapePlots                   false
DoSystsPlots                   false
DeleteNormFiles                true
ReplicaCount                   0
ForceBinning                   0
MergeSamples                   true
UseStatSystematics             false

+Regions                       13TeV_OneLepton_CUT_5tag0jet_0ptv_ElHad1p_mvis2
+Regions                       13TeV_OneLepton_CUT_5tag0jet_0ptv_ElHad3p_mvis2
+Regions                       13TeV_OneLepton_CUT_5tag0jet_0ptv_MuHad1p_mvis2
+Regions                       13TeV_OneLepton_CUT_5tag0jet_0ptv_MuHad3p_mvis2
